<div class="col-md-8">
  <div ng-repeat="c in colorList"  class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-body" style="padding-bottom: 4px;">
        <div class="row">
          <div class="col-md-9">
            <h4>{{c.id}} {{c.title}}</h4>
          </div>
          <div class="col-md-3">
            <button type="button" name="button" class="btn btn-default" style="width:100%;" ng-click="viewRecipe(c.id)" >View</button>
            <!-- <a href="#">View</a> -->
          </div>
        </div>

      </div>
      <div class="panel-body">
        <img src="http://lorempixel.com/400/200/food/{{$index + 1}}" alt="" style="margin: auto;display: block;width:100%;" />
        <!-- {{c}} is test -->
      </div>
    </div>
  </div>

</div>
<div class="col-md-4">


</div>
